@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
  --background: 18, 18, 18;
  --background-secondary: 28, 28, 28;
  --text-primary: 245, 245, 245;
  --text-secondary: 200, 200, 200;
  --accent: 192, 151, 17;
}

.light {
  color-scheme: light;
  --background: 225, 225, 225;
  --background-secondary: 255, 255, 255;
  --text-primary: 18, 18, 18;
  --text-secondary: 100, 100, 100;
  --accent: 192, 151, 17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  @apply transition-colors duration-200;
}
